<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teamloosers.behereandroid">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BeHere">
        <activity
            android:name=".Activities.ListEtudiantsActivity"
            android:label="@string/title_activity_list_etudiants"
            android:theme="@style/BeHere" />
        <activity
            android:name=".Activities.EtudiantsPresencesActivity"
            android:label="@string/title_activity_etudiants_presences"
            android:theme="@style/BeHere" />
        <activity
            android:name=".Activities.ConsultationEtudiantsActivity"
            android:label="@string/title_activity_consultation_etudiants"
            android:theme="@style/BeHere" />
        <activity
            android:name=".Activities.SeancesActivity"
            android:label="@string/title_activity_seances"
            android:theme="@style/BeHere" />
        <activity
            android:name=".Activities.SeanceAbsencesActivity"
            android:label="@string/title_activity_seance_absences"
            android:theme="@style/BeHere" />
        <activity
            android:name=".Activities.AppelListActivity"
            android:label="@string/title_activity_appel_list"
            android:theme="@style/BeHere" />
        <activity android:name=".Activities.LoginActivity"
            android:theme="@style/BeHere">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/title_activity_root"
            android:theme="@style/BeHere">
        </activity>
    </application>

</manifest>