<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teamloosers.behereandroid">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/BeHere">
        <activity
            android:name=".Activities.EtudiantsPresencesActivity"
            android:theme="@style/BeHere" />
        <activity
            android:name=".Activities.ConsultationEtudiantsActivity"
            android:theme="@style/BeHere" />
        <activity
            android:name=".Activities.SeanceAbsencesActivity"
            android:theme="@style/BeHere" />
        <activity
            android:name=".Activities.AppelListActivity"
            android:theme="@style/BeHere" />
        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/BeHere">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:theme="@style/BeHere" />
        <activity
            android:name=".Activities.StructureActivity"
            android:theme="@style/BeHere" />
        <activity
            android:name=".Activities.AppelUpParUnActivity"
            android:label="@string/title_activity_appel_up_par_un"
            android:theme="@style/BeHere"></activity>
    </application>

</manifest>